<div class="top-bar" fxLayout="row" fxFlex fxLayoutAlign="space-around center">
  <div flexLayout="row" fxFlex fxLayoutAlign="start center">
    <div fxFlex="15%" fxFlexOffset="5%">
      <i class="fa fa-address-card" aria-hidden="true"></i>
      <span>Brand Name</span>
    </div>
    <div fxFlex="15%">
      <i class="fa fa-user-md" aria-hidden="true"></i>
      <span>The Portal</span>
    </div>
  </div>
  <div fxFlex="15%">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span class="login-btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    John Doe
  </span>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Log Out</a>
  </div>
  </div>
</div>
