<div class="">
  <div class="host" fxLayout="column">
    <!-- <header fxFlex="1 1 10%">header</header> -->
    <app-header fxFlex="1 1 10%"></app-header>
    <div fxLayout="row" fxFlex>
      <nav fxFlex="1 6 10%" fxFlex.xs="1 6 20%">nav</nav>
      <div fxLayout="column" fxFlex>
        <p-toolbar class="toolbar" fxFlex="1 6 10%">toolbar</p-toolbar>
        <div fxFlex="3 1 90%">
          <router-outlet></router-outlet>
          <!-- <article fxFlex="3 1 90%">article</article> -->
        </div>
      </div>
    </div>
    <footer fxFlex="1 1 5%">footer</footer>
  </div>
</div>
