.host {
  height: 100vh;
}

.toolbar {
  background: gray;
}

header {
  background: red;
}

nav {
  background: blue;
}

article {
  background: green;
}

aside {
  background: yellow;
}

footer {
  background: mediumvioletred;
}
