.host {
  height: 100vh;
}

.toolbar {
  background: gray;
}

header {
  background: rgb(97, 43, 43);
}

nav {
  background: cornflowerblue;
}

article {
  background: green;
}

aside {
  background: yellow;
}

footer {
  background: mediumvioletred;
}

.top-bar {
  background: #00405d;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 0;
}
